
body {
	color: white;
	background: linear-gradient(10deg, rgb(12, 60, 105), rgb(4, 4, 67));
}



html {
	height: 100%;
}

#icon {	
	height: 40vh;
	image-rendering: pixelated;
	image-rendering: -moz-crisp-edges;
	image-rendering: crisp-edges;
}

#main {
	background-color: rgba(0, 0, 0, .8);
	color: white;
	content: center;	
	padding-top: 3vh;
	padding-bottom: 1vh;
	position: absolute;
	width: 60vh;
	left: 50%;
	top: 50%;
	border-style: solid;
	border-width: 0.2vh;
	font-size: 3vh;
	border-color: rgb(110, 204, 255);
	-webkit-backdrop-filter: blur(20px);
	backdrop-filter: blur(2px);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	border-radius: 2vh;
}

#note {
	font-size: 1vh;
}

#buttons {
	margin-top: 5vh;
	margin-bottom: 5vh;
}


#button {
	border: 0.2vh solid rgb(110, 204, 255);
	border-radius: 2vh;
	background-color: rgba(0, 0, 0, 0.5);
	padding: 1.4vh;
	margin: 0.2vh;
	color: rgb(110, 204, 255);
	transition-duration: 0.2s;
	text-decoration: none;
	font-size: 3vh;
}

#button:hover {
	border: 0.2vh solid rgb(42, 149, 207);
	color:  rgb(42, 149, 207);
}

#button:active {
	border: 0.2vh solid rgb(131, 94, 255);
	color:  rgb(131, 94, 255);
}